.body-smoothening {
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bounded-padding {
  padding: 1rem;
}

/* @media screen and (min-width: 768px) {
  .bounded-padding {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
} */
/* 
@media screen and (min-width: 1024px) {
  .bounded-padding {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
} */

.bounded-full-width-center {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.bounded-small {
  max-width: 36rem;
}

.bounded-base {
  max-width: 48rem;
}

.bounded-wide {
  max-width: 56rem;
}

.bounded-widest {
  max-width: 72rem;
}

.campaignbanner {
  background: #2ab04e;
  padding: 0.5rem;
  text-align: center;
  font-size: 0.9rem;
  color: #fff;
}

.campaignbanner-link {
  text-decoration: 'underline';
}

.footer-container {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 6rem;
}

.footer-buttom-text {
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 600;
  letter-spacing: -0.025em;
  text-align: center;
  width: 100%;
  max-width: 48rem;
}

.footer-published-prismic {
  color: rgb(51 65 85);
}

.nav-item {
  font-weight: 600;
  letter-spacing: -0.025em;
  font-size: 1.5rem;
  line-height: 0;
}

/* @media screen and (min-width: 1024px) {
  .nav-item {
    font-size: 2rem;
  }
} */

.header-container {
  margin-top: 1rem;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.header-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

@media screen and (min-width: 768px) {
  .header-nav {
    gap: 3.6rem;
  }
}

@media screen and (min-width: 1024px) {
  .header-nav {
    gap: 4.4rem;
  }
}

.heading {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-weight: 600;
  letter-spacing: -0.05em;
  color: rgb(30 41 59);
}

.heading-4xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

@media screen and (min-width: 768px) {
  .heading-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
}

.heading-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}
.heading-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}
.heading-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.horizontal-divider {
  width: 100%;
  height: 3px;
  border-width: 0;
  background-color: rgb(226 232 240);
  margin-top: 1rem;
}

@media screen and (min-width: 768px) {
  .horizontal-divider {
    max-width: 24rem;
    display: none;
  }
}

.layout-color {
  color: rgb(51 65 85);
}

.profile-padding {
  padding-left: 1rem;
  padding-right: 1rem;
}

.profile-grid {
  display: grid;
  justify-items: center;
  max-width: 32rem;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 2rem;
}

.profile-picture {
  overflow: hidden;
  position: relative;
  width: 10rem;
  height: 10rem;
  background-color: rgb(203 213 225);
  border-radius: 50%;
}

.profile-picture-fit {
  object-fit: cover;
}

.profile-text-grid {
  display: grid;
  text-align: center;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 0.5rem;
}

.profile-text {
  font-family: Georgia, Cambria, 'Times New Roman', Times, serif;
  font-size: 2rem;
  line-height: 2rem;
  font-style: italic;
  letter-spacing: -0.025em;
  line-height: 1.5;
  color: rgb(100 116 139);
  text-align: left;
}

.signupform-padding {
  padding-left: 1rem;
  padding-right: 1rem;
}

.signupform-grid {
  display: grid;
  width: 100%;
  max-width: 36rem;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 1.5rem;
}

.signupform-text {
  font-family: Georgia, Cambria, 'Times New Roman', Times, serif;
  letter-spacing: -0.025em;
  text-align: center;
  color: rgb(100 116 139);
}

.signupform-heading {
  margin-bottom: 1rem;
}

.signupform-headingtwo {
  margin-bottom: 1rem;
  font-style: italic;
}

.emailsignup-grid {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 0.5rem;
}

.emailsignup-position {
  position: relative;
}

.only-screenreaders {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.emailsignup {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 0.75rem;
  padding-right: 2.5rem;
  width: 100%;
  border-radius: 0;
  border-bottom-width: 1px;
  border-color: rgb(226 232 240);
  color: rgb(30 41 59);
}

.signupform-arrow {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  align-items: center;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  font-size: 1.5rem;
  line-height: 2rem;
  justify-content: center;
  color: rgb(148 163 184);
}

.signupform-disclaimer {
  font-size: 0.75rem;
  line-height: 1rem;
  letter-spacing: -0.025em;
  text-align: center;
  color: rgb(100 116 139);
}

.latestarticle-header {
  color: rgb(31 41 55);
  margin-bottom: 0.75rem;
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 600;
  letter-spacing: -0.05em;
}

@media screen and (min-width: 768px) {
  .latestarticle {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
}

.latestarticle-paragraph {
  font-family: Georgia, Cambria, 'Times New Roman', Times, serif;
  font-style: italic;
  letter-spacing: -0.05em;
  color: rgb(107 114 128);
}

.article-link {
  font-weight: 600;
  letter-spacing: -0.025em;
  color: rgb(156 163 175);
}

.article-head {
  padding-bottom: 0;
}

.article-title {
  color: rgb(30 41 59);
  margin-bottom: 0.75rem;
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 600;
  letter-spacing: -0.05em;
}

@media screen and (min-width: 768px) {
  .article-title {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
}

.article-subtitel {
  font-family: Georgia, Cambria, 'Times New Roman', Times, serif;
  font-style: italic;
  letter-spacing: -0.05em;
  color: rgb(100 116 139);
}

.article-endsection {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 4rem;
}

@media screen and (min-width: 768px) {
  .article-endsection {
    gap: 6rem;
  }
}

.article-endsection-width {
  width: 100%;
}

.article-lastarticles {
  margin-bottom: 2.5rem;
}

.article-lastarticles-grid {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 3rem;
}

.richtext-h2 {
  margin-bottom: 1.75rem;
  margin-top: 3rem;
}

.richtext-h2:first-child {
  margin-top: 0;
}

.richtext-h2:last-child {
  margin-bottom: 0;
}

.richtext-h3 {
  margin-bottom: 1.75rem;
}

.richtext-h3:last-child {
  margin-bottom: 0;
}

.richtext-olist,
.richtext-ul {
  padding-left: 1rem;
  margin-bottom: 1.75rem;
}

.richtext-olist:last-child,
.richtext-ul:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .richtext-olist,
  .richtext-ul {
    padding-left: 1.5rem;
  }
}

.richtext-olist-item {
  padding-left: 0.25rem;
  margin-bottom: 0.25rem;
  list-style-type: decimal;
}
.richtext-olist-item:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .richtext-olist-item {
    padding-left: 0.5rem;
  }
}

.richtext-ulist-item {
  padding-left: 0.25rem;
  margin-bottom: 0.25rem;
  list-style-type: disc;
}
.richtext-ulist-item:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .richtext-ulist-item {
    padding-left: 0.5rem;
  }
}

.richtext-pre {
  padding: 1rem;
  margin-bottom: 1.75rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  border-radius: 0.25rem;
  background-color: rgb(241 245 249);
}

.richtext-per:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .richtext-pre {
    padding: 2rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
}

.richtext-strong {
  font-weight: 600;
}

.richtext-hyperlink {
  text-decoration: underline;
  text-underline-offset: 2px;
  text-decoration-line: underline;
}

.articlepreview {
  display: grid;
  align-items: flex-start;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 1.5rem;
}

@media screen and (min-width: 768px) {
  .articlepreview {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 2rem;
  }
}

.articlepreview-image {
  position: relative;
  background-color: #f3f4f6;
  /* 4/3 aspect ratio */
  padding-top: 75%;
}

.articlepreview-imagefit {
  object-fit: cover;
}

.articlepreview-title {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 0.75rem;
}

@media screen and (min-width: 768px) {
  .articlepreview-title {
    grid-column: span 2 / span 2;
  }
}

.articlepreview-date {
  font-family: Georgia, Cambria, 'Times New Roman', Times, serif;
  font-style: italic;
  letter-spacing: -0.05em;
  color: rgb(100 116 139);
}

.articlepreview-content {
  font-family: Georgia, Cambria, 'Times New Roman', Times, serif;
  line-height: 1.625;
}
@media screen and (min-width: 768px) {
  .articlepreview-content {
    font-size: 1.125rem;
    line-height: 1.75rem;
    line-height: 1.625;
  }
}

.articlepreview-grid {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 4rem;
}

.field {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: rgb(100 116 139);
}

.inputfield {
  width: 100%;
  border-radius: 0;
  border-bottom-width: 1px;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 0.75rem;
  padding-right: 1.75rem;
  color: rgb(30 41 59);
}

.inputfield::placeholder {
  color: #cbd5e0;
}

.textareafield {
  color: rgb(30 41 59);
  width: 100%;
  height: 10rem;
  border-radius: 0;
  border-bottom-width: 1px;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 0.75rem;
  padding-right: 1.75rem;
  border-color: rgb(226 232 240);
}

.textareafield::placeholder {
  color: #cbd5e0;
}

.contactform {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 1.5rem;
}

.contactform-button {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  margin-left: auto;
}

.contactform-arrow {
  font-size: 1.25rem;
  line-height: 1.75rem;
}
.image {
  background-color: rgb(243 244 246);
}

.figure {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 1rem;
}

.figcaption {
  font-family: Georgia, Cambria, 'Times New Roman', Times, serif;
  font-style: italic;
  letter-spacing: -0.025em;
  text-align: center;
  color: rgb(100 116 139);
}

.quote {
  font-family: Georgia, Cambria, 'Times New Roman', Times, serif;
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-style: italic;
  line-height: 1.625;
}

.text {
  font-family: Georgia, Cambria, 'Times New Roman', Times, serif;
  line-height: 1.625;
}

@media screen and (min-width: 768px) {
  .text {
    font-size: 1.25rem;
    line-height: 1.75rem;
    line-height: 1.625;
  }
}

.frontpage-titel {
  color: black;
  font-family: Inter, ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
  text-align: left;
  font-weight: bolder;
  font-size: 2.5rem;
  padding-top: 1.5;
}

@media screen and (min-width: 768px) {
  .frontpage-titel {
    font-size: 3rem;
    padding-top: 2.5rem;
  }
}

.footer-temp {
  width: 100%;
  margin-bottom: 0;
}

.text.text {
  font-family: Georgia, Cambria, 'Times New Roman', Times, serif;
  line-height: 1.625;
}

@media (min-width: 768px) {
  .text-text {
    font-size: 1.25rem;
    line-height: 1.75rem;
    line-height: 1.625;
  }
}
